/*-------- Base styles -------*/
:root {
  --color-p-cyan: hsl(179, 62%, 43%);
  --color-p-bright-yellow: hsl(71, 73%, 54%);
  --color-n-light-gray: hsl(204, 43%, 93%);
  --color-n-grayish-blue: hsl(218, 22%, 67%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-n-light-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------- Layout ------------*/
.section-subscription {
  max-width: 64rem;
  border-radius: 6px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.headings {
  height: 22.05rem;
  padding: 3.8rem;
  background-color: #fff;
}

.primary-heading {
  color: var(--color-p-cyan);
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
}

.secondary-heading {
  color: var(--color-p-bright-yellow);
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.primary-description {
  color: var(--color-n-grayish-blue);
  font-size: 1.6rem;
}

.subscription {
  display: flex;
}

.subscription__details {
  background-color: var(--color-p-cyan);
  padding: 3.8rem;
}

.subscription__heading {
  color: var(--color-n-light-gray);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.prices {
  display: flex;
  align-items: center;
}

.subscription__price {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-right: 1rem;
}

.subscription__plan {
  font-size: 1.6rem;
  color: hsla(204, 43%, 93%, 0.5);
}

.subscription__feature {
  color: hsla(204, 43%, 93%, 0.8);
  font-size: 1.6rem;
  margin-bottom: 2.25rem;
}

.subscription__question {
  background-color: rgba(42, 178, 175, 0.8);
  padding: 3.8rem;
  flex: 1;
}

ul {
  list-style: none;
  margin-top: 9px;
}

ul li {
  color: hsla(204, 43%, 93%, 0.8);
  font-size: 1.3rem;
}
/*-------- Component ---------*/
.btn-box {
  display: flex;
}

.btn {
  padding: 1.3rem 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.1);
}

.btn-green:link,
.btn-green:visited {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-n-light-gray);
  background-color: var(--color-p-bright-yellow);
  transition: all 0.3s;
}

.btn-green:hover {
  background-color: hsla(71, 73%, 54%, 0.8);
  transform: scale(1.05);
}

/*------ My Attribution ----------*/
.attribution {
  position: absolute;
  top: 15%;
  left: 3%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: hsl(218, 22%, 67%);
  transition: all 0.3s;
}

.attr:link,
.attr:visited {
  display: inline-block;
  color: hsl(179, 62%, 43%);
}

.attr:hover {
  background-color: hsl(71, 73%, 54%);
  color: hsl(218, 22%, 67%);
  transform: scale(1) rotate(60deg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
/*-------- Media Queries -----*/
@media only screen and (max-width: 1000px) {
  .attribution {
    top: 0;
    left: 0;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    text-align: center;
    z-index: 10;
  }

  .attribution > p {
    width: 100%;
  }

  .attr:hover {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 660px) {
  body {
    margin: 5rem auto;
  }
  .section-subscription {
    max-width: 87%;
  }

  .headings {
    min-height: 24rem;
    padding: 2.5rem;
  }

  .primary-heading {
    font-size: 2rem;
    margin-top: -5px;
    margin-bottom: 1.4rem;
  }

  .secondary-heading {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }

  .primary-description {
    font-size: 1.3rem;
    margin-bottom: 4rem;
    line-height: 2.1;
  }
  .subscription {
    flex-direction: column;
  }

  .subscription__details {
    display: flex;
    flex-direction: column;
  }

  .subscription__question {
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .section-subscription {
    max-width: 87%;
  }

  .headings {
    min-height: 26rem;
    padding: 2.5rem;
  }

  .primary-heading {
    font-size: 2rem;
    margin-top: -5px;
    margin-bottom: 1.4rem;
  }

  .secondary-heading {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }

  .primary-description {
    font-size: 1.3rem;
    margin-bottom: 4rem;
    line-height: 2.1;
  }

  .subscription {
    flex-direction: column;
  }

  .subscription__details {
    padding: 3rem;
  }

  .subscription__question {
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
